body {
    background-color: teal;
    font-size       : 1rem;
}

h2 {
    text-align     : center;
    font-size      : 40px;
    margin         : auto;
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 30vh;
}

.question-title p {
    margin-bottom : 0;
    letter-spacing: var(--spacing);
    color         : var(--clr-grey-1);

}


.question-btn {
    font-size: larger;
    background  : white;
    border-color: transparent;
    cursor    : pointer;
    color     : gold;
    transition: none ;
    padding: 0.5rem 1rem;

}
.question-btn:hover {
    transform: rotate(90deg);

}

.question-title {
    color    : wheat;
    font-size: 20px;
}

.question-text {
    color     : thistle;
    font-size : 1rem;
    padding   : 1rem 0 1.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.question-text p {
    margin-bottom: 0;
}

.question {
    background   : var(--clr-white);
    border-radius: var(--radius);
    box-shadow   : var(--light-shadow);
    padding      : 1.5em 1.5rem 0 1.5rem;
    margin-bottom: 2rem;
}

article {
    display   : block;
    box-sizing: content-box;
    width     : 100%;
    border    : 1px solid black;
    border-radius: 20%;

}
/* hide text */
.question-text {
    display: none;
}
.minus-icon {
 display: none;
}
.show-text .minus-icon {
    display: inline;
}
.show-text .plus-icon {
    display: none;
}
.show-text .question-text {
    display: block;
}